<div class="flex w-full flex-col">
  <ul class="steps w-full">
    <li class="step font-Gen3 text-2xl" [ngClass]="{ 'step-primary': stepState >= 0 }">Connect Celio Device</li>
    <li class="step font-Gen3 text-2xl" [ngClass]="{ 'step-primary': stepState >= 1 }">Join Session</li>
    <li class="step font-Gen3 text-2xl" [ngClass]="{ 'step-primary': stepState >= 2 }">Wait for Partner</li>
    <li class="step font-Gen3 text-2xl" [ngClass]="{ 'step-primary': stepState >= 3 }">Start Link Mode</li>
    <li class="step font-Gen3 text-2xl" [ngClass]="{ 'step-primary': stepState >= 4 }">Ready</li>
  </ul>

  <div class="divider"></div>

  <div class="box relative">
    <div class="flex w-full h-[5rem]">
      <div *ngIf="isCurrentlyIn(StepsState.ConnectingCelioDevice)" class="card rounded-box grid grow place-items-center">
        <button (click)="connect()" class="btn btn-lg">Connect Celio Device</button>
      </div>
      <div *ngIf="hasReached(StepsState.JoiningSession)" class="font-Gen3 text-4xl">
        Celio connection status: <br>
        Ready!
      </div>
    </div>
    <img *ngIf="isCurrentlyIn(StepsState.ConnectingCelioDevice)" src="/assets/down_arrow.png" class="animate-bob absolute bottom-3 right-2 w-6 h-6 image-pixelated" />
  </div>

  <div class="divider"></div>

  <div [class.opacity-0]="yetToReach(StepsState.JoiningSession)" [class.opacity-100]="hasReached(StepsState.JoiningSession)" class="transition-opacity duration-500 ease-in-out">
    <div class="box relative">

      <div *ngIf="isCurrentlyIn(StepsState.JoiningSession)" class="flex w-full h-[5rem]">
        <div class="card rounded-box grid grow place-items-center">
          <button (click)="createSession()" class="btn btn-lg">Create Session</button>
        </div>
        <div class="divider divider-horizontal"><div class="font-Gen3 text-4xl">OR</div></div>
        <div class="card rounded-box grid grow place-items-center">
          <input #sessionInput (keydown.enter)="joinSession(sessionInput.value)" type="text" placeholder="Enter Session Id" class="input input-lg w-3xs font-Gen3 text-2xl" />
        </div>
      </div>

      <div *ngIf="hasReached(StepsState.WaitingForPartner)" class="flex w-full h-[5rem]">
        <div class="font-Gen3 text-4xl">
          Connected to Session: <br>
          {{sessionId}}
        </div>
      </div>
      <button *ngIf=hasReached(StepsState.WaitingForPartner) (click)="leaveSession()" class="btn btn-sm text-2xl absolute bottom-3 right-2">Leave Session</button>
      <img *ngIf="isCurrentlyIn(StepsState.JoiningSession)" src="/assets/down_arrow.png" class="animate-bob absolute bottom-3 right-2 w-6 h-6 image-pixelated" />

    </div>
    <div class="divider"></div>
  </div>

  <div [class.opacity-0]="yetToReach(StepsState.WaitingForPartner)" [class.opacity-100]="hasReached(StepsState.WaitingForPartner)" class="transition-opacity duration-500 ease-in-out">
    <div class="box relative">
      <div *ngIf="isCurrentlyIn(StepsState.WaitingForPartner)" class="flex w-full h-[5rem]">
          <p class="font-Gen3 text-4xl waiting">
            Waiting for Partner<span class="dots"></span>
          </p>
      </div>
      <div *ngIf="hasReached(StepsState.SettingLinkMode)" class="flex w-full h-[5rem]">
        <p class="font-Gen3 text-4xl waiting">
          Waiting for Partner... <br>
          Partner has connected!
        </p>
      </div>
    </div>
    <div class="divider"></div>
  </div>

  <div [class.opacity-0]="yetToReach(StepsState.SettingLinkMode)" [class.opacity-100]="hasReached(StepsState.SettingLinkMode)" class="transition-opacity duration-500 ease-in-out">
    <div class="box relative">
      <div class="flex w-full h-[5rem]">
        <div class="card rounded-box grid h-20 grow place-items-center">
          <button (click)="enableLinkMode()" class="btn btn-lg">Start</button>
        </div>
        <img *ngIf="isCurrentlyIn(StepsState.SettingLinkMode)" src="/assets/down_arrow.png" class="animate-bob absolute bottom-3 right-2 w-6 h-6 image-pixelated" />
      </div>
    </div>
    </div>
</div>
