<div class="flex h-screen justify-center bg-base-200">
  <ul class="menu bg-base-200 h-[30vh] w-[15vh]">
    <li class="flex-1">
      <a routerLink="/onlineLink" class="btn btn-square btn-lg w-full h-full" routerLinkActive="btn-disabled" [routerLinkActiveOptions]="{ exact: true }">
        <img ngSrc="icons/onlinePlay.png" fill priority alt="Online Play"/>
      </a>
    </li>
    <br>
    <li class="flex-1">
      <a routerLink="/tradeEmu" class="btn btn-square btn-lg w-full h-full" routerLinkActive="btn-disabled" [routerLinkActiveOptions]="{ exact: true }">
        <img ngSrc="icons/downloadPk3.png" fill priority alt="Trade Emulation"/>
      </a>
    </li>
    <br>
  </ul>
</div>
