<div class="flex h-screen justify-center bg-base-200">
  <ul class="menu bg-base-200 h-[15vh] w-[40vh]">
    <li class="flex-1">
      <div class="box-menu">
        <a routerLink="/onlineLink" class="w-full font-Gen3 text-2xl menu-item-unselected" routerLinkActive="menu-item" [routerLinkActiveOptions]="{ exact: true }">
          Online Play
        </a>
      </div>
    </li>
    <li class="flex-1">
      <div class="box-menu">
        <a routerLink="/tradeEmu" class="w-full font-Gen3 text-2xl menu-item-unselected" routerLinkActive="menu-item" [routerLinkActiveOptions]="{ exact: true }">
          Trade Emulation
        </a>
      </div>
    </li>
  </ul>
</div>
